span.select2.select2-container {

  li.ts-select2_dragged { opacity: 0.1; }

  li.ts-select2_dragged_over {
    margin-left: 5.5em;
    &::before { // to make the left margin hoverable/droppable
      content: '\00a0 ';
      position: absolute;
      width: 4.5em;
      transform: translateX(-5em);
      background-color: #f7f7f7;
    }

    * { // Prevent dragleave event in children to trigger dragleave in the LI itself
      pointer-events: none;
    }
  }

  li[draggable]:after {
    content: '\28ff';
    opacity: 0.4;
    cursor: move;
  }

  li.ts-select2_drop_zone_after {
    width: 100%;
    height: 2em;
    display: inline-block;
    position: absolute;
  }
}